* {
  box-sizing: border-box;
}
body {
  background-color: #f0f0f0;
  text-align: center;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
:root {
  --base-delay: 0.5;
  --reveal-speed: 0.5;
  --stagger: 0.1;
}
button {
  position: fixed;
  top: 1rem;
  left: 1rem;
  background: 0;
  opacity: 0.5;
  border: 0;
  cursor: pointer;
  transition: opacity 0.15s ease;
  font-weight: bold;
  letter-spacing: 2px;
}
button:hover {
  opacity: 1;
}
.block-reveal {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
}
.block-reveal span {
  -webkit-animation: show-text calc(var(--reveal-speed, 0.5) * 1s) calc(var(--delay) * 1s) steps(1) both;
          animation: show-text calc(var(--reveal-speed, 0.5) * 1s) calc(var(--delay) * 1s) steps(1) both;
  font-size: 4rem;
  font-weight: bold;
  overflow: hidden;
  position: relative;
}
.block-reveal span:after {
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--color, #1e90ff);
  position: absolute;
  -webkit-animation: block-reveal calc(var(--reveal-speed, 0.5) * 1s) calc(var(--delay) * 1s) both;
          animation: block-reveal calc(var(--reveal-speed, 0.5) * 1s) calc(var(--delay) * 1s) both;
}
@-webkit-keyframes block-reveal {
  0% {
    -webkit-transform: translate(-110%, 0);
            transform: translate(-110%, 0);
  }
  45%, 55% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(110%, 0);
            transform: translate(110%, 0);
  }
}
@keyframes block-reveal {
  0% {
    -webkit-transform: translate(-110%, 0);
            transform: translate(-110%, 0);
  }
  45%, 55% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(110%, 0);
            transform: translate(110%, 0);
  }
}
@-webkit-keyframes show-text {
  0% {
    color: transparent;
  }
  50%, 100% {
    color: #000;
  }
}
@keyframes show-text {
  0% {
    color: transparent;
  }
  50%, 100% {
    color: #000;
  }
}
